.styleButton {
    padding: 1.25em 2em !important;
    font-weight: 400 !important;
    border-width: 2px !important;
    margin-top: 2rem !important;
    border-radius: 9999px !important;
    -webkit-transition: all .2s ease-in-out !important;
    height: 2.5em !important;
    line-height: 1.5 !important;
    text-decoration: none !important;
    font-size: 1.25rem !important;
    text-transform: none !important;
}

.styleButtonColorLight {
    color: #0727f3 !important;
    border-color: #0727f3 !important;
    background-color: transparent !important;
}
.styleButtonColorLight:hover {
    color: #fff !important;
    background-color: #0727f3 !important;
    border-color: #0727f3 !important;
}