.navbar {
  padding: 1.2rem 0;
}

.footer{
  background-color: #0727f3;
  padding: 4rem 1.5rem 4rem;
  color: antiquewhite;
}

.navbarSize {
  min-height: 3.25rem;
  width: 100%;
  margin: 0 auto;
}

.hero {
  display: block;
}

.heroBody {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.heroTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroPicture {
  display: block;
}

.heroFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem 4.5rem;
  background-color: #0727f3;
  color: antiquewhite;
}

.introductionTitle {
  text-align: center;
  margin-bottom: 2rem;
}

.introductionDesc {
  text-align: center;
  margin-bottom: 5rem;
}

.technology {
  margin-top: -10rem;
}

.technologyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.technologyContent {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 6px;
  width: 66%;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.companyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.companyContent {
  display: flex;
  flex-direction: row;
}

.borderTop {
  border-top: 1px solid #E6ECF8;
}

.borderBottom {
  border-bottom: 1px solid #E6ECF8;
}

.quote {
  padding: 5rem 1.5rem 2rem;
  background-color: #0727f3;
  color: white;
}

.quoteContainer {
  padding: 3.5rem 1.25rem;
  margin-top: -9rem;
  background-color: #141c3a;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
  border-radius: 12px;
}

.marginBottom {
  margin-bottom: 10rem;
}

.workExperience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.fullWidth {
  width: 100%;
}