.activeBtn{
    background-color: #3366ff;
    color: #000;
}

.activeBtn :hover{
    cursor: pointer
}

.notActiveBtn :hover{
    cursor: pointer
}

.counter {
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    margin-left: 0.5em;
    font-weight: bold;
  }