.activeBtn{
    background-color: #0727f3;
    color: antiquewhite;
}

.activeBtn :hover{
    cursor: pointer
}

.notActiveBtn :hover{
    cursor: pointer
}

.counter {
    background-color: #0727f3;
    color: antiquewhite;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    margin-left: 0.5em;
    font-weight: bold;
}

.primaryButton {
    border: 1px solid #0727f3 !important;
    color: #0727f3 !important;
    border-radius: 50px !important;
    margin-top: 0.5rem !important;
}